<ion-view view-title="Timbreo Merlo" ng-controller="TimbreoController">
    <div class="bar bar-header bar-energized">
        <h1 class="title">Timbreo {{capitalizeFirstLetter(partido)}}</h1>
    </div>
    <ion-content class="has-header">
        <div class="card" ng-repeat="(numero, pregunta) in preguntas">
            <div class="item item-divider item-text-wrap">{{numero}}) {{pregunta.texto}}</div>
            <div class="item item-text-wrap" ng-show="pregunta.tipo == 'simple.estado'">
                <div class="button-bar last" ng-repeat="grupo in pregunta.opciones">
                    <a class="button" ng-click="seleccionar(numero, value)" ng-repeat="(value, texto) in grupo" ng-class="formulario.respuestas[numero] == value ? 'button-dark' : 'button-outline button-stable'">{{texto}}</a>
                </div> 
            </div>
            <div class="item item-text-wrap" ng-show="pregunta.tipo == 'multiple.estado'">
                <div class="button-bar last" ng-repeat="grupo in pregunta.opciones">
                    <a class="button" ng-click="seleccionarMultiple(numero, value)" ng-repeat="(value, texto) in grupo" ng-class="formulario.respuestas[numero] !== undefined && formulario.respuestas[numero].indexOf(value) !== -1 ? 'button-dark' : 'button-outline button-stable'">{{texto}}</a>
                </div> 
            </div>
        </div>
        <div class="card">
            <div class="item item-divider item-text-wrap">Edad</div>
            <div class="item item-text-wrap">
                <div class="button-bar last">
                    <a class="button" ng-click="seleccionar('edad', '16-25')" ng-class="formulario.respuestas.edad == '16-25' ? 'button-dark' : 'button-outline button-stable'">16-25</a>
                    <a class="button" ng-click="seleccionar('edad', '26-39')" ng-class="formulario.respuestas.edad == '26-39' ? 'button-dark' : 'button-outline button-stable'">26-39</a>
                    <a class="button" ng-click="seleccionar('edad', '40-59')" ng-class="formulario.respuestas.edad == '40-59' ? 'button-dark' : 'button-outline button-stable'">40-59</a>
                    <a class="button" ng-click="seleccionar('edad', '+60')" ng-class="formulario.respuestas.edad == '+60' ? 'button-dark' : 'button-outline button-stable'">+60</a>
                </div> 
            </div>
        </div>
        <div class="card">
            <div class="item item-divider item-text-wrap">Contacto</div>
            <div class="item item-text-wrap">
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Nombre</span>
                        <input type="text" ng-model="formulario.respuestas.nombre" placeholder="Nombre">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Teléfono</span>
                        <input type="number" ng-model="formulario.respuestas.telefono" placeholder="Teléfono">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Email</span>
                        <input type="email" ng-model="formulario.respuestas.email" placeholder="Email">
                    </label>
                </div>
            </div>
        </div>
        <div class="padding">
            <button class="button button-block button-balanced" ng-click="guardar()">Guardar</button>
        </div>
    </ion-content>
</ion-view>
